<!DOCTYPE html>
<head>
    <title>Name Regex Analytics</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="Name Regex Analytics">
    <meta name="keywords" content="SSA Name Regex">
    <meta name="author" content="Verena Goodman">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:light,regular,semi-bold,bold" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{css.general}}" />
</head>
<body>
    <div id="main-window" class="row">
    </div>
    <div id="full-screen"></div>
    <div id="overlay"></div>
    <div class="tooltip pie-tooltip" style="opacity: 0.00001;"></div>

    <script type="text/javascript">
        var globals = {};
        globals.environment = "{{environment}}";
        globals.css = {};
        globals.js = {};
        {{#each css}}
            globals.css["{{@key}}"] =  "{{this}}";
        {{/each}}
        {{#each js}}
            globals.js["{{@key}}"] =  "{{this}}";
        {{/each}}
    </script>
    <script src="{{js.vendor}}" type="text/javascript"></script>
    <script src="js/startApp.js" type="text/javascript"></script>
</body>